<div class="full-width content-row" style="min-height: 300px">
 <div *ngIf="productsObservable == null">
  <div class="d-flex justify-content-center align-middle" style="padding-top: 5rem">
    <div class=" spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
   </div>
  </div>

  <div class="nowshowing">
    <h2>now showing</h2>
    <div *ngIf="productsObservable">
      <div class="container">
        <div *ngFor="let movie of productsObservable.items">
          <div class="movie">
            <a [routerLink]="['../movie', movie.year, movie.title]">
              <div class="movie-inner">
                <div class="movie-item">
                  <img src="{{movie.poster}}" alt=""/>
                </div>
                <div class="movie-info">
                  <img class="img-blur" src="{{movie.poster}}" alt=""/>
                  <div class="movie-info-inner">
                    <div class="movie-info-inner-title">
                      <h3>{{movie.title}}</h3>
                      <p>{{movie.year}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div>
        <ul class="pagination justify-content-center">
          <li [ngClass]="{disabled:productsObservable.previousPage == null}" class="page-item">
            <a class="page-link" (click)="setPage(productsObservable.previousPage)">Previous</a>
          </li>
          <li [ngClass]="{disabled:productsObservable.nextPage == null}" class="page-item">
            <a class="page-link" (click)="setPage(productsObservable.nextPage)">Next</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
