<div class="full-width content-row">
  <div class="nowshowing clearfloat">
    <div *ngIf="movies">
      <h2>now showing</h2>
      <div class="movie">
        <a href="#">
          <div class="movie-inner">
            <div class="movie-item">
              <img src="http://image.tmdb.org/t/p/w185//n8V09dDc02KsSN6Q4hC2BX6hN8X.jpg" alt=""/>
            </div>
            <div class="movie-info">
              <img class="img-blur" src="http://image.tmdb.org/t/p/w185//n8V09dDc02KsSN6Q4hC2BX6hN8X.jpg" alt=""/>
              <div class="movie-info-inner">
                <div class="movie-info-inner-title">
                  <h3>Star Wars</h3>
                  <p>1979</p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="movie">
        <a href="#">
          <div class="movie-inner">
            <div class="movie-item">
              <img src="http://image.tmdb.org/t/p/w185//n8V09dDc02KsSN6Q4hC2BX6hN8X.jpg" alt=""/>
            </div>
            <div class="movie-info">
              <img class="img-blur" src="http://image.tmdb.org/t/p/w185//n8V09dDc02KsSN6Q4hC2BX6hN8X.jpg" alt=""/>
              <div class="movie-info-inner">
                <div class="movie-info-inner-title">
                  <h3>Star Wars</h3>
                  <p>1979</p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="movie">
        <a href="#">
          <div class="movie-inner">
            <div class="movie-item">
              <img src="http://image.tmdb.org/t/p/w185//n8V09dDc02KsSN6Q4hC2BX6hN8X.jpg" alt=""/>
            </div>
            <div class="movie-info">
              <img class="img-blur" src="http://image.tmdb.org/t/p/w185//n8V09dDc02KsSN6Q4hC2BX6hN8X.jpg" alt=""/>
              <div class="movie-info-inner">
                <div class="movie-info-inner-title">
                  <h3>Star Wars</h3>
                  <p>1979</p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="movie">
        <a href="#">
          <div class="movie-inner">
            <div class="movie-item">
              <img src="http://image.tmdb.org/t/p/w185//n8V09dDc02KsSN6Q4hC2BX6hN8X.jpg" alt=""/>
            </div>
            <div class="movie-info">
              <img class="img-blur" src="http://image.tmdb.org/t/p/w185//n8V09dDc02KsSN6Q4hC2BX6hN8X.jpg" alt=""/>
              <div class="movie-info-inner">
                <div class="movie-info-inner-title">
                  <h3>Star Wars</h3>
                  <p>1979</p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
